.modal-container{
    margin-top: 10rem;
}
.modal{
    width: 400px;
    height: 400px;
    box-shadow: 1px 2px 5px grey;
    margin: 0 auto;
}
.question{
    text-align: center;
    font-weight: 800;
}
.details{
    display: flex;
    widows: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.option{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;

}
.option:hover{
    text-decoration: underline;
}
.btn{
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 30%;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    font-size: 2rem;
}