.badge-warning {
    float: right;
    margin-bottom: -15px;
    margin-right: -18px;
    font-size: 10px;
  }
  
  .navbar-brand {
      color:white;
  }
  
  .navbar-dark {
      background-color: #3c3d41;
  }
  #notif-length{
    color: red;
    font-size: 64px;
    display: block;
    position: fixed;
    top: 300px;
    left: 70px;
  }